body,html{font-family:"microsoft yahei";}
body,html,ul,li,p,h6,h5,h2,h1{margin:0;padding:0;color:#fff;}
body{position:relative;width:100%;max-width:1920px;min-width: 1200px;background:#f0f3fa}
i,em{font-style:inherit;}
ul,li{list-style-type: none;}
a{text-decoration:none;color:#fff;display:block}
h6,h5,h2{font-weight:normal;}
img{border:none;}
/*input--placeholder样式*/
input::-webkit-input-placeholder{
    color: #96a2bf;
}
/*公共提示信息*/
.con-warning{
    display: inline-block;
    color: blue;
    font-size: 14px;
    width: 92%;
    margin: 10px 0 10px 40px;
}
/*common*/
.container-box{width:100%;margin:0 auto;min-height: 868px}
/*header*/
.navbar{position: relative;left: 0;top: 0;width: 100%;height: 70px;background: #5a8bff;z-index: 99;}
.navbar .nav-left{position: relative;left: 0;top: 0;width: 260px;height: 70px;background: #4877e6;float: left}
.navbar .nav-left img{margin-top: 9px;margin-left: 50px}
.navbar .nav-right{font-family: MicrosoftYaHei-Bold;font-size: 26px;font-weight: normal;color: #ffffff;float: left;line-height: 70px;padding-left: 40px}
.navbar .con-right{line-height: 70px;font-family: MicrosoftYaHei;font-size: 16px;opacity: 0.8;float: right;padding-right: 51px}
.navbar .con-right a{font-family: MicrosoftYaHei;font-size: 20px;width: 40px;height: 20px;float: right;line-height: 70px;}
/* 顶部 */
.sidebar-top{height:100px;width: 100%;background-color: #ffffff;box-shadow: 4px 0 13px 0 rgba(178, 199, 248, 0.4);}
.sidebar-top .per-left{width: 260px;height: 100px;border-right:solid 1px rgba(179, 198, 244, 0.22);float: left}
.sidebar-top .per-info{width: 200px;height: 62px;padding-left: 30px;padding-top: 20px;}
.sidebar-top .per-info img{width: 62px;height: 62px;}
.per-font{float: right}
.sidebar-top .per-info p{font-family: MicrosoftYaHei;font-size: 20px;font-weight: normal;line-height: 38px;letter-spacing: 0px;color: #323232;overflow:hidden;  white-space:nowrap;  text-overflow:ellipsis;width: 120px}
.sidebar-top .per-info span{font-family: MicrosoftYaHei;font-size: 14px;font-weight: normal;color: #969696;}
.sidebar-top .per-right{line-height: 100px;color: #323232;font-family: MicrosoftYaHei;font-size: 16px;font-weight: normal;padding-left: 40px;float: left}
#account-book{width: 210px;height: 42px;background-color: #f0f5ff;border-radius: 5px;border: solid 1px #d2defa;margin-left: 19px;color: #323232;font-family: MicrosoftYaHei;font-size: 16px;font-weight: normal;}
.qiehuan{width: 80px;height: 42px;background-image: linear-gradient(180deg,#5a8bff 0%,#4877e6 100%);border-radius: 21px;font-size: 16px;color: #ffffff;border: none;margin-left: 26px}
.edit-pwd{width: 160px;height: 42px;border-radius: 21px;border: solid 1px #4877e6;font-size: 16px;color: #5384f7;background-color: #ffffff;margin-left: 20px}
/* 侧边栏 */
.sidebar-left{float:left;background:#ffffff;z-index:100;width:260px;min-height:668px; height:auto!important; box-shadow: 4px 0 13px 0 rgba(178, 199, 248, 0.4);opacity: 0.96;}
.sidebar-left .sidebar-nav{ height:auto!important;margin-top: 30px;margin-left: 30px;width: 200px;}
.sidebar-left .sidebar-nav .sidebar-list{font-size:18px;font-weight: normal;color: #646464;}
/*.sidebar-left .sidebar-nav .active{font-size:18px;width: 200px;height: 48px;background-color: #e8eefb;border-radius: 24px;color: #646464;font-weight: bold}*/
.sidebar-left .sidebar-nav .sidebar-list .nav-li-icon{margin-left: 25px;}
.nav-sj{width: 15px;height: 8px;margin-left: 4px}
.sidebar-left .sidebar-nav .sidebar-nav-ul > li .sidebar-list{padding-top: 10px;padding-bottom: 10px}
.sidebar-left .sidebar-nav .sidebar-list:hover{width: 200px;background-color: #e8eefb;border-radius: 24px;color: #646464;font-weight: bold}
.sidebar-left .ac{width: 200px;background-color: #e8eefb;border-radius: 24px;color: #646464;font-weight: bold}
.sidebar-left .sidebar-nav .sidebar-nav-ul .nav-li-icon{width: 20px;height: 20px;vertical-align: text-bottom;}

.submenu{font-family: MicrosoftYaHei;font-size:16px;font-weight: normal;color: #323232;}
.sidebar-left .sidebar-nav .sidebar-nav-ul .child-nav-item{display:none;height: 0;opacity: 0;-webkit-transition-property: all;transition-property: all;-webkit-transition-duration: 300ms;transition-duration: 300ms;-webkit-transform: translate(0, 0);transform: translate(0, 0); }
.sidebar-left .sidebar-nav .sidebar-nav-ul .active.child-nav-item{display:block;opacity: 1;-webkit-transform: translateY(0) scale(1);transform: translateY(0);height:auto}
.sidebar-left .sidebar-nav .sidebar-nav-ul .child-nav-item li {padding-top: 4px}
.sidebar-left .sidebar-nav .sidebar-nav-ul .child-nav-item li span{margin-left: 27px;padding-top: 5px;padding-bottom: 5px;display: inline-block}
.sidebar-left .sidebar-nav .sidebar-nav-ul .child-nav-item li a:hover,.sidebar-left .sidebar-nav .sidebar-nav-ul .child-nav-item li a.active{width: 200px;background-color: #4877e6;border-radius: 18px;color: #feffff;}
/* 主体内容 */
/*.container{margin:40px 0 0 39px;display:inline-block;}*/


/* 完成-弹窗样式 */
.popAlertBox{margin-bottom: -300px;position: absolute;left:0;right:0;top:0;bottom:0;z-index:200;background:#0000005e;border-radius: 5px;box-shadow: 0 2px 10px 1px #ccc;}
.popSuccess{width: 420px;height: 380px;background-color: #ffffff;box-shadow: 0px 8px 29px 0px rgba(178, 199, 248, 0.4);border-radius: 5px;opacity: 0.96;margin:200px auto;}
.popSuccess .success{margin: 0 auto;width: 231px;height: 255px;text-align: center;padding-top: 63px}
.popSuccess .success img{}
.popSuccess .success p{text-align: center;color: #5b8aff;font-size: 18px;margin-top: 27px}
.popSuccess .success span{text-align: center;color: #969696;font-size: 12px;margin-top: 11px;display: inline-block}
.popSuccess .success button{width: 80px;height: 42px;background-image: linear-gradient(180deg,#5a8bff 0%,#4877e6 100%);border-radius: 21px;border: none;color: #ffffff;font-size: 16px;margin-top: 50px}
/* 失败-弹窗样式 */
.popFail{width: 420px;height: 380px;background-color: #ffffff;box-shadow: 0px 8px 29px 0px rgba(178, 199, 248, 0.4);border-radius: 5px;opacity: 0.96;margin:200px auto;}
.popFail .fail{margin: 0 auto;width: 231px;height: 255px;text-align: center;padding-top: 63px}
.popFail .fail p{text-align: center;color: #f77e5b;font-size: 18px;margin-top: 27px}
.popFail .fail span{text-align: center;color: #969696;font-size: 12px;margin-top: 11px;display: inline-block}
.popFail .fail span a{color: #5b8aff;font-size: 12px;display: inline}
.popFail .fail button{width: 80px;height: 42px;background: #f77e5b;;border-radius: 21px;border: none;color: #ffffff;font-size: 16px;margin-top: 50px}
/* 删除-弹窗样式 */
.popIs{width: 420px;height: 240px;background-color: #ffffff;box-shadow: 0px 8px 29px 0px rgba(178, 199, 248, 0.4);border-radius: 5px;opacity: 0.96;margin:200px auto;}
.popIs .is{margin: 0 auto;width: 231px;height: 135px;text-align: center;padding-top: 40px ;}
.popIs .is p{color: #5b8aff;font-size: 18px;}
.popIs .is span{color: #969696;font-size: 12px;margin-top: 11px}
.popIs .is .delete{width: 80px;height: 42px;background-image: linear-gradient(180deg,#5a8bff 0%,#4877e6 100%);border-radius: 21px;border: none;color: #ffffff;font-size: 16px;}
.popIs .is .cancel{width: 80px;height: 42px;background-color: #96a2bf;border-radius: 21px;border: none;color: #ffffff;font-size: 16px;margin-top: 50px;margin-right: 50px}

/*添加修改信息弹窗*/
.popAddEdit{width: 700px;background-color: #ffffff;box-shadow: 0px 8px 29px 0px rgba(178, 199, 248, 0.4);border-radius: 5px;opacity: 0.96;margin:100px auto;position: relative}
.con-1-1 .button{width: 80px;height: 35px;background-image: linear-gradient(180deg,#5a8bff 0%,#4877e6 100%);border-radius: 21px;border: none;color: #ffffff;font-size: 16px;margin-left: 85px;padding: 0}
.con-1-1{
    width: 650px;
    padding: 40px;
}
.con-1-1 p .pwd{
    color: #323232;
    font-size: 16px;
    text-align: right;
    display: inline-block;
    width: 117px;
}
.con-1-1 .pwdtxt{
    color: #991e36;
    font-size: 16px;
    margin-left: 20px;
}
.con-1-1 input{
    width: 220px;
    height: 25px;
    color: #646464;
    font-size: 14px;
    background-color: #f7f9fd;
    border-radius: 5px;
    border: solid 1px #d2defa;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.con-1-1 select{
    width: 242px;
    height: 25px;
    color: #646464;
    font-size: 14px;
    background-color: #f7f9fd;
    border-radius: 5px;
    border: solid 1px #d2defa;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.con-1-1 .cancel{width: 80px;height: 35px;background-color: #96a2bf;border-radius: 21px;border: none;color: #ffffff;font-size: 16px;margin-left: 20px;}

.con-1-1 .con-store li{
    color: #323232;
    font-size: 16px;
}
.searchLable,.search-loading {
    width: 225px;
    height: 400px;
    color: #646464;
    font-size: 14px;
    background-color: #f7f9fd;
    border-radius: 5px;
    border: solid 1px #d2defa;
    margin: -20px 28px 0 20px;
    padding: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: none;
    position: absolute;
}
.search-loading{
    margin-top: 50px;
    height: 350px;
    text-align: center;
    background: rgba(233, 238, 249, 0.63);
}
.search-loading img{
    margin: 42% auto;
}

.searchBox .search_channel {
    width: 205px;
    height: 25px;
    margin: 0;
    padding: 5px 10px;
}
.searchBox ul li {
    display: block;
    width: 198px;
    padding: 5px;
    margin: 0;
}
 .form-error {
    color: #d9222c;
    font-size: 6px;
     margin-left: 10px;
}
.sidebar-top-menu{
    width: 25px;
    height: 17px;
    position: absolute;
    top: 27px;
    right: 0;
    cursor: pointer;}
.sidebar-top-menu.active{transform: rotate(180deg);}